<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your Books - Bookcase</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script>
        $(document).ready(function() {
            $('iframe').on('hover', function(ev) {

                $("iframe")[0].src += "&autoplay=1";
                ev.preventDefault();

            });
        });

        function rowClicked(value) {
            location.href = "/actor?id=" + value;
        }
    </script>
</head>
<body>
<table class="table table-hover text-center">
    <thead class="thead-dark">
    <tr>
        <th class="align-middle" scope="col">#</th>
        <th class="align-middle" scope="col">actor name</th>
        <th class="align-middle" scope="col">actor age</th>
        <th class="align-middle" scope="col">actor gender</th>
        <th class="align-middle" scope="col">actor image</th>
    </tr>
    </thead>
    <tbody class="tbody-light">

    <tr  th:each="actor :${all_actor}"  th:onclick="'javascript:rowClicked(\'' + ${actor.getActor_id()} + '\');'">

        <td class="align-middle" th:text="${actor.getActor_id()}"></td>
        <td>
            <h5 class="align-middle" th:text="${actor.getActor_name()}"></h5>
        </td>
        <td>
            <h5 class="align-middle" th:text="${actor.getActor_age()}"></h5>
        </td>
        <td>
            <h5 class="align-middle" th:text="${actor.getActor_gender()}"></h5>
        </td>

        <td>
            <img class="align-middle" th:width="150" th:height="150" th:src="${actor.getActor_profile_image()}">
        </td>

    </tr>
    </form>
    </tbody>
</table>